<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <!-- Configura iisnode para manejar las peticiones al backend -->
            <add name="iisnode" path="dist/src/main.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Redirigir solicitudes con prefijo /api al backend -->
                <rule name="BackendRoutes" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="dist/src/main.js" />
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_URL" value="/api/{R:1}" />
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
